__pycache__

# Ignore dynaconf secret files
.secrets.*

# Ignore env files
.env
.env.*

# ignore temporary test files
/test_*

# Ignore schema and data files
project_schema.json
project.json
project.md

# Ignore database files
*.sqlite[3]

# Ignore node files
node_modules
package-lock.json
package.json
alexis.log
copy_redis_data.sh
.ipynb_checkpoints
