__pycache__

# Ignore dynaconf secret files
.secrets.*

# Ignore env files
.env
.env.*

# ignore temporary test files
/test_*

# Ignore schema and data files
project_schema.json
project.json
project.md